/* 悬浮菜单按钮样式 */
.float-menu {
    position: fixed;
    bottom: 160px;
    right: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-item:hover {
    background: #f5f5f5;
}

.menu-item+.menu-item {
    border-top: 1px solid #eee;
}

.wechat {
    position: relative;
}

.wechat::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    right: 48px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: white url('https://cdn.jsdelivr.net/gh/shalom-lab/wechat/images/images.png') center/calc(100% - 16px) no-repeat;
    padding: 8px;
}

.wechat::after {
    content: '欢迎关注微信公众号';
    position: absolute;
    width: 200px;
    height: 20px;
    background: #fff;
    margin-bottom: 20px;
    text-align: center;
    top: calc(50% + 100px);
    /* 二维码高度的一半 */
    right: 48px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    color: #333;
    font-size: 14px;
}

.wechat:hover::before,
.wechat:hover::after {
    opacity: 1;
    visibility: visible;
}

svg:hover {
    color: #3b82f6;
}

/* SVG 图标样式 */
.menu-item svg {
    width: 1.25rem;
    /* h-5 = 1.25rem */
    height: 1.25rem;
    /* w-5 = 1.25rem */
    color: #4b5563;
    /* text-gray-600 */
}

.menu-item.wechat svg {
    color: #22c55e
}

.menu-item svg:hover {
    color: #3b82f6;
    /* 保持原有的悬停颜色 */
}